mixin videoList(videos)
    ul
        each video in videos 
            li
                a(href=`/videos/${video._id}`)=video.title
            li=video.author
            li=video.hashtags
            hr
        else 
            li Nothing