extends base 

block content 
    if errorMessage
        span=errorMessage
    form( method="post") 
        input(type="text", name="title", placeholder="title", required, value=`${video.title}`)
        input(type="text", name="hashtags", placeholder="hashtags", required, value=`${video.hashtags.map((item)=>item.slice(1)).toString()}`)
        input(type="submit", value="Upload")